<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">

  <meta charset="UTF-8">
  <title>Baltimore CCTV</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-queue.v3.min.js"></script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/SGstyles.css">
  <link rel="stylesheet" href="/static/css/d3Style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
</head>
<body>

<!-- NAV BAR -->  

<nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-light pl-5 pt-0 pb-0">
        <a class="navbar-brand"  href="{{ url_for('index') }}">Baltimore Crime Surveillance</a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" >
          <ul class="navbar-nav">
      
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Visualizations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('viz_map') }}">Crime Heatmap</a>
                  <a class="dropdown-item" href="{{ url_for('viz_tree') }}">Neighborhood Crime Pies</a>
                  <a class="dropdown-item" href="{{ url_for('viz_bubble') }}">Demographic Bubble Chart</a>
              </div>
            </li>     
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('conclusion') }}">Conclusions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('data_list') }}">Data</a>
            </li>
          </ul>
        </div>
      </nav>


<!-- HEATMAP -->  


        <!-- <div class="container mt-5 ml-1 mr-5 mb-5 pt-5 pl-5 pr-5 pb-5 bg-white"> -->
        <div class="container mt-4 mb-5 pb-5 bg-white">

          <div class="row">
            <div class="col-sm-12">
              <h4>Baltimore CCTV Camera Locations</h4>
              <h6>With Overlay Heatmaps By Crime Type (2018)</h6>
            </div>
          </div>

          <div class="row"> 
            <div class="col-sm-12">
              <div id="camera_map" style="width: 800px; height: 400px" class="mx-auto">
                <!-- append map here. -->
              </div>
            </div>
          </div>

        </div>

        <div class="container mt-4 mb-5 pt-5 pb-5 bg-white">
          <div class="row">
              <div class="col-sm-12">
              <h3>Insights From This Visualization</h3>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">CCTV cameras are not evenly distributed across the city of Baltimore.  Many neighborhoods have no cameras at all.</li>
                  <li class="list-group-item">There seems to be no consistent relationship between the presence of cameras and crime, as extensive criminal activity occurs in areas with and without cameras.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>


<footer>&copy; Columbia University Data Analytics Bootcamp - Scott Gregory - 2019</footer>

<!-- API key -->
<script type="text/javascript" src="/static/js/config.js"></script>
<!-- Leaflet heatmap plugin-->
<script type="text/javascript" src="static/js/leaflet-heat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
<script type="text/javascript" src="/static/js/app_map.js"></script>


</body>
</html>
